
<div class="span9 content">
  <%= create_guide("Upload Pictures", 
        "Total Pictures: <b>#{current_user.pictures.count}</b>").html_safe %>
  
  
  
    
    
  <%#= create_breadcrumb(@breadcrumbs).html_safe %>
  
  
  <div class="row-fluid">
    <%# if @project.possible_to_upload_more?(current_user) %>
      <%= render :partial => "pictures/uploader" %>
    <%# else %>
      <%#= render :partial => "pictures/no_uploader_feedback", 
            :locals => {:project => @project, :project_submission => @project_submission } %>
    <% #end %>
  </div><!--/row-->


  <!-- display the uploaded image here!  -->
  <div class="span12">
    <ul class="thumbnails" id="uploaded_image_container">
      <% @pictures.each do |picture| %>
        <%= render :partial => "pictures/uploaded_pic_display" , :locals => {
          :picture => picture
        }%>
      <% end %>
    </ul>
  </div>
  
</div><!--/span-->
