<div class="container" >

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Hello, kawan!</h1>
        <p><b>potoPolio</b> adalah site untuk hosting  image anda! 
          Untuk penggunaan normal, fasilitas image hosting ini diberikan secara <b>cuma-cuma</b>! 
          Silahkan dicoba sendiri. Jika ada <b>feedback</b>, tolong beritahu kami di <b>admin@potopolio.com</b>. </p>
          
        <p>Tetapi, jika anda suka dengan pelayanan kami, tolong sebarkan fasilitas kami kepada teman-teman anda.</p>
        <p>
          <%= link_to "Daftar Segera »", new_user_sign_up_url, 
            :class => "btn btn-primary btn-large"%> atau
          
          <!-- <a class="btn btn-primary btn-large">Daftar Segera »</a> atau  -->
          
          <%= link_to "Login", new_user_session_url, :class => "btn btn-success btn-large" %></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Gratis!</h2>
           <p>
              Hosting untuk file yang anda upload tidak kami kenai biaya jika ukurannya lebih kecil dari <b>1 MB</b>. Tetapi,
              jika anda menginginkan fasilitas lebih seperti <b>watermark</b>, <b>storage file berukuran lebih dari 1MB</b>,
              ataupun hal-hal lainnya yang belum terpikirkan, kami dapat menyediakan <b>layanan khusus</b> yang dibuat untuk anda. 
           </p>
        </div>
        <div class="span4">
          <h2>Tidak akan di hapus</h2>
           <p>
             Selama tidak ada pengaduan hak cipta untuk file yang anda upload, tidak akan kami hapus! <small>Jikalau ada pengaduan hak cipta, kami tidak bertanggung jawab :) </small>.
             Jadi, mohon agar anda mengupload dan share sesuai dalam batas-batas etika. Agar service ini dapat tetap berjalan.
           </p>
       </div>
        <div class="span4">
          <h2>File Management</h2>
          <p>
            Layanan ini dibuat terutama untuk membantu para <b>blogger</b>, atau komunitas forum yang ingin menyimpan
            file-file yang digunakan untuk blog post, posting di forum, atau hanyalah sekedar <b>storage online</b>. 
            Untuk memudahkan hal ini, kami membuat cara organisasi file yang rapih, dimana file yang diupload 
            <b>di simpan di folder yang bersangkutan</b>,
            seperti folder thread forum, atau gallery. Jika anda malas seperti saya, maka dapat langsung upload saja ;). 
          </p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; potoPolio 2011</p>
      </footer>

    </div>